<!-- About Section -->
    <section class="success" id="about" style="background-color: #195673;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Man-made music. Created for our shared cosmic adventure.
                    <br><br>
                    Fun, melody-driven space music. Rich evolving sound and orchestration to prevent ear fatigue.
                    <br><br>
                    deliberately designed to work great both as contemplative background music (ambient for study) or for active listening as a 1970s album oriented experience!
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
            </div>
        </div>
    </section>
