<!-- About Section -->
    <section class="success" id="about" style="background-color: #195673;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Man-made music. <br>Created for cosmic adventure.
                    <br><br>
                    <span style="color: LemonChiffon;">Memory Wheel</span> is a retro space music project that encourages thoughtful, contemplative fun. Focusing on rich electro/symphonic sound featuring dynamic, evolving orchestration, world class recording techniques and the best in audio fidelity.
                    <br><br>
                    These compositions are deliberately designed to work as both contemplative background (e.g. "ambient for study" &#128516;
 ) or for active listening, like a 1970s album-oriented experience.
                    </p>
                    
                <div class="about-reference-box">
                    <strong>SEE ALSO:</strong> 
                    Vangelis, Isao Tomita, Jean-Michel Jarre, Wendy Carlos, Brian Eno, 
                    Jonn Serrie, Tim Clark, Steven Halpern, Tangerine Dream, 
                    Klaus Schulze, Constance Demby, Michael Stearns 
                </div>
                    <br><br>
                </div>
                <div class="col-lg-4">
                    <p>
                    You don't have nostalgia for analog planetariums and 1970’s space music…. 
                    <br><br>
                    <strong>Yet.</strong>
                    <br><br>
                    <em style="color: PowderBlue;">
                    The term <span style="color: DeepSkyBlue;">“anemoia”</span> describes a sense of longing for a time or experience that one has never lived through.
                    </em>
                    <br><br>
                    Evoking the spirit of anemoia, imagine an era where--for the first time--the combined voice of the symphony orchestra and the new sonic palette of analog synthesizers combine to evoke the awe and wonder of cosmic grandeur.
                    <br><br>
                    <span style="color: LemonChiffon;">Memory Wheel</span> is your laser-fueled time machine to an age where projected light combined with sounds in space in a brand-new way.
                    </p>
                </div>
            </div>
        </div>
    </section>
