<footer class="text-center" style="background-color: #0d1017; padding: 60px 0; border-top: 1px solid #1b1e2b;">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="hollow-text" style="font-size: 24px !important; -webkit-text-stroke: 1px #ffffff !important;">Memory Wheel</h3>
                    <p style="color: #9adfff; letter-spacing: 3px; font-size: 0.7em; text-transform: uppercase; margin-top: 10px;">
                        Synthesizer Orchestration & Sonic Design
                    </p>
                    <ul class="list-inline" style="margin-top: 30px;">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube-play"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below" style="margin-top: 40px; font-size: 0.7em; color: rgba(154, 223, 255, 0.4);">
        <div class="container">
            &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All Rights Reserved.
        </div>
    </div>
</footer>
