<section id="studio"> <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="hollow-text" style="font-size: 50px !important;">The Studio</h2>
                <hr class="star-light-custom">
                <h3 class="section-subheading" style="color: #9adfff; margin-bottom: 50px;">Analog circuitry & the modern alchemy of sonic sorcery</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>70s and 80s gear, both analog and digital. Both VCOs and better behaved digitally-controlled oscillators have their own specific warmth. Similarly, tape saturation to can either destroy a mix or evoke planetarium nostalgia of 70s 4 track technology.</p>
            </div>
        </div>

        <div class="row article-flex-grid" style="margin-top: 30px;">
            {% for post in site.posts %}
                {% if post.category == "studio" and post.studio_group == "synthesizers" %}
                    {% include studio-grid-item.html %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 style="color: #00f2ff; font-family: 'Century Gothic', sans-serif;">Spatial Dimensions</h3>
                <p>Echoes and reverbs make the term "Space Music" literal. Beseide evoking space in a figurative sense, the ability to embed sound in both real and unreal environments creates a new sense of infinite space.</p>
            </div>
        </div>

        <div class="row article-flex-grid" style="margin-top: 30px;">
            {% for post in site.posts %}
                {% if post.category == "studio" and post.studio_group == "spatial" %}
                    {% include studio-grid-item.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
