{% capture unique_id %}
{{ include.id }}-{{ include.start | default: '0' }}-{{ include.thumb | slugify }}
{% endcapture %}

<div class="video-block">
  <div class="video-container" id="container-{{ unique_id }}">

    {% if include.thumb %}
      <!-- Thumbnail version -->
      <div class="video-thumb-wrapper"
           onclick="loadVideo('{{ include.id }}', '{{ include.start }}', '{{ include.end }}', 'container-{{ unique_id }}')">

        <img src="{{ include.thumb | relative_url }}"
             alt="{{ include.title }}"
             class="img-responsive">

        <div class="play-overlay"></div>
      </div>

    {% else %}
      <!-- Direct embed version -->
      <iframe
        src="https://www.youtube.com/embed/{{ include.id }}?rel=0{% if include.start %}&start={{ include.start }}{% endif %}{% if include.end %}&end={{ include.end }}{% endif %}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    {% endif %}

  </div>

  {% if include.title %}
    <div class="video-caption">
      <strong>Video:</strong> {{ include.title }}
    </div>
  {% endif %}
</div>

<script>
if (!window.loadVideo) {
  window.loadVideo = function(id, start, end, containerId) {
    var container = document.getElementById(containerId);
    if (!container) return;

    var url = "https://www.youtube.com/embed/" + id + "?autoplay=1&rel=0";
    if (start) url += "&start=" + start;
    if (end) url += "&end=" + end;

    container.innerHTML =
      '<iframe src="' + url + '"' +
      ' frameborder="0"' +
      ' allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"' +
      ' allowfullscreen></iframe>';
  };
}
</script>
