<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ '/css/my_overrides.css' | relative_url }}">
</head>

<body id="page-top" class="index">
    {% include navbar.html %}

    <header style="background-color: #0d1017; padding-top: 150px; padding-bottom: 80px; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p style="color: #00f2ff; font-family: 'Century Gothic', sans-serif; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 20px;">
                        {{ page.date | date: "%B %d, %Y" }}
                    </p>
                    <h1 class="hollow-text" style="font-size: 50px !important; display: block !important;">{{ page.title }}</h1>
                    {% if page.subtitle %}
                        <hr class="star-light-custom">
                        <h3 style="color: #9adfff; font-style: italic; font-weight: 300; margin-top: 20px;">{{ page.subtitle }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <article style="background-color: #1b1e2b; color: #d1d5db; padding: 80px 0; min-height: 70vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 article-body-content">
                    
                    {{ content }}

                    <div class="text-center" style="margin-top: 80px;">
                        <hr class="star-light-custom">
                        <a href="{{ site.baseurl }}/#articles" class="btn btn-xl" style="background-color: #00f2ff; color: #0d1017; border: none;">
                            <i class="fa fa-arrow-left"></i> Back to Articles
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    {% include footer.html %}
    {% include javascript.html %}
</body>
</html>
